* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.header {
   width: 100vw; 
   position: absolute;
   top: 64px;
}

.wrapper {
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;

}

.header-logo {
    display: flex;
    flex-direction: column;
}

.header-logo-title {
    color: #F1CDB3;
    font-family: Georgia;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    font-weight: 400px;
}

.header-logo-subtitle {
    padding-top: 10px;
    color: #fff;
    font-family: Arial;
    font-size: 13px;
    line-height: 110%;
    letter-spacing: 0.1em;
    text-align: center;
}

.header-menu {
    display: flex;
    width: 443px;
    
}

.header-menu-list {
    display: flex;
    justify-content: space-between ;
    list-style-type: none;
    width: 100%;
}

.header-menu-list-item {
    display: flex;
    align-items: center;
}

.list-links {
    font-family: Arial;
    font-size: 15px;
    line-height: 160%;
    font-weight: 400;
    color: #FAFAFA;
}

.links_disabled {
    color: #CDCDCD;
}

.list-links_active {
    border-bottom: solid 3px #F1CDB3;
}

.hero {
    display: flex;
    padding-top: 180px;
    background: url(../../assets/fonts/noise_transparent.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;

}

.hero-content {
    display: flex;
}

.hero-section {
    display: flex;
    flex-direction: column;
    padding-top: 163px;
}

.hero-title { 
    font-family: Georgia;
    font-size: 44px;
    line-height: 130%;
    color: #FFFFFF;
    max-width: 310px;
    font-weight: 400;
}

.hero-subtitle {
    margin-top: 42px;
    font-family: Arial;
    font-size: 15px;
    color: #CDCDCD;
    line-height: 24px;

}

.hero-button {
    margin-top: 41px;
    padding: 15px 45px;
    width: 207px;
    border-radius: 100px ;
    border: none;
    background-color: #F1CDB3;
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.05em;
    color: #292929;
}

.about {
    display: flex;
    padding-left: 175px;
    padding-top: 80px;
    height: 588px;
}

.about-content {
    display: flex;
    flex-direction: column;
    padding-left: 120px;
    color: #4C4C4C;
    padding-top: 14px;
}

.about-title {
    font-family: Georgia;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

.about-subtitle {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    width: 430px;
    font-family: Arial;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;

}

.about-subtitle-second {
    padding-top: 25px;
}

.wrapper-pets {
    display: flex;
    background-color: #F6F6F6;
}

.pets {
    display: flex;
    max-width: 1200px;
    height: 877px;
    margin: 0 auto;
    background-color: #F6F6F6;

}

.pets-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 697px;
    padding-top: 80px;

}

.pets-content-list {
    display: flex;
    flex-direction: row;
}
.pets-content-title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Georgia;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    padding-bottom: 60px;
}

.pets-arrow {
    padding: 23px 19 23 19px;
    width: 52px;
    height: 52px;
    background-color: #F6F6F6;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    margin-top: 190px;
}

.pets-content-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFA;
    width: 270px;
    height: 435px;
}

.pets-content-subtitle {
    padding-top: 30px;
    color: #545454;
    font-family: Georgia;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
}

.pets-learn {
    padding: 15px 45px 15px 45px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background-color: #FAFAFA;
    margin-top: 30px;
    font-family: Georgia;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}

.katrine-block {
    margin-left: 53px;
    margin-right: 90px;
}

.jennifer-block {
    margin-right: 90px;
}

.woody-block {
    margin-right: 53px;
}

.pets-get {
    margin-top: 60px;
    border: none;
    padding: 15px 45px 15px 45px;
    width: 261px;
    height: 52px;
    background: #F1CDB3;
    border-radius: 100px;
    font-family: Georgia;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.05em;
    color: #292929;
}

.wrapper-help {
    display: flex;
    background-color: #FFFFFF;
}

.help {
    display: flex;
    max-width: 1200px;
    height: 611px;
    margin: 0 auto;
}

.help-block {
    display: flex;
    flex-direction: column;
    height: 1200px;
    padding-top: 80px;
}

.help-content {
    display: flex;
    flex-direction: column;
}

.icon-row-first {
    display: flex;
    flex-direction: row;
    max-width: 1025px;
}

.icon-row-second {
    display: flex;
    flex-direction: row;
    max-width: 1025px;
    justify-content: center;
    padding-top: 55px;
}

.help-content-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 120px;

}

.icon-shampoo, .icon-sleep {
    margin: 0;
}

.help-title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Georgia;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    padding-bottom: 60px;
}

.help-content-subtitle {
    padding-top: 30px;
    font-family: Georgia;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.05em;
    color: #545454;
    text-align: center;
}

.wrapper-donation {
    display: flex;
    background-color: #F6F6F6;
}

.donation {
    display: flex;
    flex-direction: row;
    padding-top: 92px;
    max-width: 1200px;
    height: 464px;
    margin: 0 auto;
}

.donation-content {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.donation-content-title-first {
    display: flex;
    font-family: Georgia;
    font-weight: 400;
    font-size: 35px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
}

.donation-content-title-second{
    display: flex;
    font-family: Georgia;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    padding-top: 24px;
}

.donation-content-card {
    display: flex;
    width: 349px;
    height: 43px;
    padding: 10px 15px 10px 15px;
    margin-top: 20px;
    margin-bottom: 19px;
    background: #F1CDB3;
    border-radius: 9px;
}

.link-card {
    display: flex;
    flex-direction: row;
    text-decoration-line: none;
}

.number-card {
    display: flex;
    font-family: Georgia;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    align-items: center;
    letter-spacing: 0.05em;
    color: #545454;
}

.icon-card {
    padding-right: 15px;
}

.donation-content-subtitle {
    display: flex;
    max-width: 380px;
    font-family: Arial;
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
}

.wrapper-footer {
    display: flex;
    background: url(../../assets/fonts/noise_transparent.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.footer-content {
    display: flex;
    flex-direction: row;
    width: 1200px;
    margin: 0 auto;
    padding-top: 40px;
    
}

.footer-content-contacts, .footer-content-location {
    display: flex;
    flex-direction: column;
    padding-top: 22px;
    
}

.footer-content-contacts-title, .footer-content-location-title {
    font-family: Georgia;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    padding-right: 160px;
}

.footer-content-location-title {padding-right: 200px;}

.footer-content-link {
    display: flex;
    flex-direction: row;
    font-family: Georgia;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    color: #F1CDB3;
    text-decoration-line: none;
    
}

.contact-link {padding-top: 40px;}

.location-link {padding-top: 35px;}

.icon-market {
    padding-right: 20px;
}


/* HOOVER */

.list-links:hover {
    color: #FAFAFA;
}

.list-links:active {
    border-bottom: solid 3px #F1CDB3;
}

.hero-button:hover {
    background-color: #FDDCC4;
}

.pets-arrow:hover {
    background-color: #FDDCC4;
}

.pets-get:hover {
    background-color: #FDDCC4;
}

.pets-content-block:hover {
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.icon-card:hover {
    opacity: 50%;
}

